/* css/base.css */

:root {
    --font-family: 'Poppins', sans-serif;
    --bg-light: #f0f0f0;
    --bg-dark: #0b0b0b;
    --text-light: #0b0b0b;
    --text-dark: #f0f0f0;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.theme-light body {
    background-color: var(--bg-light);
    color: var(--text-light);
}

.theme-dark body {
    background-color: var(--bg-dark);
    color: var(--text-dark);
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}