/* Light and dark theme variables */

:root {
    --background-color: #fff;
    --text-color: #333;
    --header-background-color: #f0f0f0;
    --header-text-color: #333;
    --footer-background-color: #f0f0f0;
    --button-background-color: #333;
    --button-text-color: #fff;
    --border-color: #ddd;
    --card-background-color: #f9f9f9;
}

[data-theme="dark"] {
    --background-color: #333;
    --text-color: #fff;
    --header-background-color: #222;
    --header-text-color: #fff;
    --footer-background-color: #222;
    --button-background-color: #fff;
    --button-text-color: #333;
    --border-color: #555;
    --card-background-color: #444;
}